<a href="https://colab.research.google.com/github/HendersonAR/Student-Performance---Bayesian/blob/shillis17-EDA1/eda/newData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
import pandas as pd
import matplotlib.pyplot as plt

In [36]:
file_path = '/content/drive/My Drive/Stat440Data/student-scores.csv'
df = pd.read_csv(file_path)
df['part_time_job'] = df['part_time_job'].astype(int)
df['extracurricular_activities'] = df['extracurricular_activities'].astype(int)
df['gender'] = df['gender'].replace({'male': 1, 'female': 0})
df['career_aspiration'] = df['career_aspiration'].astype('category')
df['average_score'] = round((df['math_score'] + df['history_score'] +
                       df['physics_score'] + df['chemistry_score'] +
                       df['biology_score'] + df['english_score'] +
                       df['geography_score'])/7,2)
print(df.head())

   id first_name last_name                                  email  gender  \
0   1       Paul     Casey         paul.casey.1@gslingacademy.com       1
1   2   Danielle  Sandoval  danielle.sandoval.2@gslingacademy.com       0
2   3       Tina   Andrews       tina.andrews.3@gslingacademy.com       0
3   4       Tara     Clark         tara.clark.4@gslingacademy.com       0
4   5    Anthony    Campos     anthony.campos.5@gslingacademy.com       1

   part_time_job  absence_days  extracurricular_activities  \
0              0             3                           0
1              0             2                           0
2              0             9                           1
3              0             5                           0
4              0             5                           0

   weekly_self_study_hours   career_aspiration  math_score  history_score  \
0                       27              Lawyer          73             81
1                       47              Doctor          90             86
2                       13  Government Officer          81             97
3                        3              Artist          71             74
4                       10             Unknown          84             77

   physics_score  chemistry_score  biology_score  english_score  \
0             93               97             63             80
1             96              100             90             88
2             95               96             65             77
3             88               80             89             63
4             65               65             80             74

   geography_score  average_score
0               87          82.00
1               90          91.43
2               94          86.43
3               86          78.71
4               76          74.43

<ipython-input-36-a42acd136d78>:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['gender'] = df['gender'].replace({'male': 1, 'female': 0})

In [37]:
file_path = '/content/drive/My Drive/Stat440Data/student-scores-clean.csv'
df.to_csv(file_path, index=False)

In [39]:
df.describe()

,id,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score,average_score
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000
mean,1000.500000,0.499000,0.158000,3.665500,0.20400,17.755500,83.452000,80.332000,81.336500,79.995000,79.58150,81.277500,80.888000,80.980315
std,577.494589,0.500124,0.364832,2.629271,0.40307,12.129604,13.224906,12.736046,12.539453,12.777895,13.72219,12.027087,11.637705,6.042297
min,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,40.000000,50.000000,50.000000,50.000000,30.00000,50.000000,60.000000,59.140000
25%,500.750000,0.000000,0.000000,2.000000,0.00000,5.000000,77.000000,69.750000,71.000000,69.000000,69.00000,72.000000,71.000000,77.290000
50%,1000.500000,0.000000,0.000000,3.000000,0.00000,18.000000,87.000000,82.000000,83.000000,81.000000,81.00000,83.000000,81.000000,81.000000
75%,1500.250000,1.000000,0.000000,5.000000,0.00000,28.000000,93.000000,91.000000,92.000000,91.000000,91.00000,91.000000,91.000000,84.710000
max,2000.000000,1.000000,1.000000,10.000000,1.00000,50.000000,100.000000,100.000000,100.000000,100.000000,100.00000,99.000000,100.000000,96.140000